.button{
    -fx-background-image: url("../resources/images/ButtonBackgr.png");
    -fx-background-size: 100% 100%;
    -fx-background-color: #f5d69d;
    -fx-text-fill: #f5d69d;
}
#MainMenuLayout{
    -fx-background-image:url("../resources/images/MainMenuBackgr.jpg");
    -fx-background-size: 100% 100%;
}
#HowToPlay{
    -fx-background-image:url("../resources/images/HowToPlayBackgr.jpg");
    -fx-background-size: 100% 100%;
}
#MainMenuBtn{
     -fx-background-image:url("../resources/images/BackToMainMenuButtonBackgr.png");
    -fx-background-size: 100% 100%;
     -fx-background-color: transparent;
    -fx-font-size: 26;
     -fx-font-color: #f5d69d;
}

